.menu{

    display:flex;
    flex-direction:row;
    
}

.menu-right{
    display: flex;
  
}

.menu-left{
    display: flex;
   
}

/*sectiontrial*/

.sectiontitle{

    display: flex;
    justify-content: center;

}


.freetrialandimage{
    width: 80%;
    margin:auto;

}

.row{
    display: flex;
    margin: 0 1rem;
    flex-wrap:wrap;


}


.col-4{

width:calc(100%/12*4)
}

.col-8{
    width:calc(100%/12*8)
}





/*footer*/
.sectionoptions{
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
 }



.headeroptions{

    text-decoration: black;
    font-family: sans-serif;

}