#app-header{
  
}

.header_d-flex{
    display: flex;
    align-items: center;
    align-content: center;
   

    
}

.right-container{
    display: flex;
    align-items: flex-start;
    align-content: center;
    background-color: cadetblue;
    width: 100%;
    
}

.right-menu{
    display:flex;
    align-items: flex-start;
}

.left-container
.body{
    width: 25px;;
}

.logo{
    width: 25px;
}

.d-flex{
    display:flex;
    align-content: center;
    align-items: center;
}


.dropbox{
    display: flex;
    align-content: center;
    align-items: center;

}

.prodotti{
    display: flex;
    align-content: center;
    align-items: center;

}

.sectionoptions{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }



